include ../socials/socials.pug
include ../mobile-menu/mobile-menu.pug
mixin menu(data)
    .menu-proto
        .menu-proto__items
            each val in data
                a(href=val.href target=val.isExternal ? '_blank' : '').menu-proto__item #{val.label}
        .menu-proto__socials
            +socials(socials.headerList)
        .menu-proto__socials._short
            +socials(socials.headerShortList)
        .menu-proto__mobile#mobile-menu-button
            img(src='%=static=%img/assets/menu/menu.svg')
        .menu-proto__mobile-menu#mobile-menu
            +mobile-menu(menu.links)