.content-proto
  &__main
    background url(%=static=%general/background.svg)
  &__colored-bg
    background #FAFCFF
    padding 64px 0
  &__gradient-bg
    padding 96px 0
    background url(%=static=%general/gradient-bg.png) no-repeat

@media screen and (max-width: $mobile)
  .content-proto
    &__main
      background url(%=static=%general/background-mobile.svg)
      background-size cover
