include ../header/header.pug
include ../welcome/welcome.pug
include ../basics/basics.pug
include ../roadmap/roadmap.pug
include ../team/team.pug
include ../join/join.pug
include ../news/news.pug
include ../partners/partners.pug

mixin content(data)
    .content
        .content__main
            +header()
            +welcome()
        .content__colored-bg
            +basics()
            //- +team()
            +join()
            +news()
            +partners()
        .content__gradient-bg
            +roadmap()