include ../header/header.pug
include ../welcome/welcome.pug
include ../basics/basics.pug
include ../roadmap/roadmap.pug
include ../join/join.pug
include ../news/news.pug
include ../partners/partners.pug

mixin content(data)
    .content-proto
        .content-proto__main
            +header()
            +welcome()
        .content-proto__colored-bg
            +basics()
            +join()
            +news()
            +partners()
        .content-proto__gradient-bg
            +roadmap()
