// Common styles of the project

html, body
    height 100%
    font-family Rubik


.page
    // Стили для body

.page__wrapper
    min-height 100%
    background: url('%=static=%/general/background.png') #03011F
    background-size cover

@media screen and (max-width: $mobile)
    .page__wrapper
        background: url('%=static=%/general/background-mobile.png') #03011F
        background-size cover


* html .page__wrapper
    height 100%

.page__buffer
    height 90px