// File for less-vars.
// For example: main colors, paddings and so on.

// breakpoints
$desktop1 = 1760px
$desktop2 = 1280px
$mobile = 720px

$background-color = #120B2B
$back-background-color = #191332
$background-form-color = #222240
$block-strokes-color  = #29294D
$grey-color = #959EBD
$light-gray = #F4F9FF
$white-colot = #fff
$main-green = #0CCFAC
$main-magenta = #E651F3
$text-black = #373747