include ../anchor/anchor.pug
mixin basics(data)
    .basics-proto
        +anchor('about')
        .basics-proto__title Build your own interoperable DApps 
        .basics-proto__subtitle EYWA is a cross-chain Data Protocol that implements philosophy of decentralization, security and equal opportunities to all.
        .basics-proto__list 
            each val in basics.list
                .basics-proto__item 
                    img(src=val.icon)
                    .basics-proto__item-text #{val.label}