include ../socials/socials.pug
include ../subscribe/subscribe.pug
mixin mobile-menu(data)
    .mobile-menu-proto
        .mobile-menu-proto__header
            img(src='%=static=%img/general/logo.svg').mobile-menu-proto__logo
            img(src='%=static=%img/assets/mobile-menu/close.svg').mobile-menu-proto__close#mobile-menu__close-button
        .mobile-menu-proto__content
            .mobile-menu-proto__links
                .mobile-menu-proto__links-nav
                    each val in data
                        a(href=val.href target=val.isExternal ? '_blank' : '').mobile-menu-proto__item #{val.label}
                .mobile-menu-proto__links-nav
                    +socials(socials.headerList)
            .mobile-menu-proto__subscribe
                +subscribe()