include ../subscribe/subscribe.pug

mixin footer(data)
    footer.footer
        .footer__logo
            img(src='%=static=%img/general/logo.svg')
            .footer__logo-main-text Cross-chain AMM DEX and bridge protocol
            .footer__logo-sub-text Copyright 2021  EYWA.FI
        .footer__links
            each val in footer.defaultLinkList
                a.footer__link(href=val.href) #{val.label} 
        .footer__subscribe
            +subscribe()
            