.footer
  padding 56px 80px
  background #1B1A2F
  width calc(100% - 160px)
  display flex
  justify-content space-between
  &__logo
    max-width 170px
    margin-right 150px
    > img
      margin-bottom 8px
    &-main-text
      font-weight normal
      font-size 16px
      line-height 24px
      color #FFFFFF
      margin-bottom 8px
    &-sub-text
      font-weight normal
      font-size 14px
      line-height 32px
      color #818EA7
      margin-bottom 8px
  &__links
    display grid
    grid-auto-flow column
    grid-template-columns repeat(3, 1fr)
    grid-template-rows repeat(4, 1fr)
    grid-gap 16px 130px
  &__link
    font-size 16px
    line-height 32px

@media screen and (max-width: $desktop1)
  .footer
    justify-content start
    &__logo
      &-main-text
        font-size 14px
        line-height 20px
      &-sub-text
        font-size 12px
        line-height 20px
    &__subscribe
      display none
    &__link
      font-size 14px
      line-height 24px

@media screen and (max-width: $desktop1)
  .footer
    padding 40px 0 16px
    width 100%
    justify-content space-around
    &__links
      display none
    &__logo
      margin-right 0
      max-width 240px
      text-align center
      &-sub-text
        font-size 10px
        line-height 32px

@media screen and (max-width: $mobile)
  .footer
    padding 0
    align-items center
    height 480px
