include ../button/button.pug
mixin welcome(data)
    .welcome-proto
        .welcome-proto__inner
            .welcome-proto__title Cross-chain 
                span Data Protocol
            .welcome-proto__subtitle Create new generation DeFi with us
            .welcome-proto__buttons
                +button(welcome.mainButton)
                +button(welcome.secondaryButton)