.header
  display flex
  justify-content space-between
  padding 34px 80px
  align-items center

@media screen and (max-width: $desktop1)
  .header
    padding 24px 32px

@media screen and (max-width: $desktop2)
  .header
    padding: 16px 32px

@media screen and (max-width: $mobile)
  .header
    padding: 16px
