include ../anchor/anchor.pug
mixin roadmap(data)
    .roadmap-proto
        +anchor('roadmap')
        .roadmap-proto__title Roadmap
        .roadmap-proto__content
            .roadmap-proto__content-inner
                .roadmap-proto__horizontal-line
                .roadmap-proto__horizontal-line._second-row
                .roadmap-proto__list
                    each val in roadmap.list
                        .roadmap-proto__items
                            .roadmap-proto__vertical-line(style={height: 'calc(60px + 135px*'+ val.steps.length + ' - 90px - 15px)'})
                            .roadmap-proto__vertical-line._mobile(style={height: 'calc(60px + 104px*'+ val.steps.length + ' - 90px - 15px)'})
                            .roadmap-proto__year #{val.year}
                            .roadmap-proto__quartal #{val.title}
                            img(src='%=static=%img/assets/roadmap/unchecked.svg').roadmap-proto__empty
                            each item in val.steps
                                .roadmap-proto__item
                                    if item.checked
                                        img(src='%=static=%img/assets/roadmap/checked.svg').roadmap-proto__item-icon
                                    else
                                        img(src='%=static=%img/assets/roadmap/void.svg').roadmap-proto__item-icon._unchecked
                                    div(class=item.checked ? 'roadmap-proto__item-text' : 'roadmap-proto__item-text _unchecked') #{item.label}