mixin roadmap(data)
    .roadmap#roadmap
        .roadmap__title Roadmap
        .roadmap__content
            .roadmap__content-inner
                .roadmap__horizontal-line
                .roadmap__horizontal-line._second-row
                .roadmap__list
                    each val in roadmap.list
                        .roadmap__items
                            .roadmap__vertical-line(style={height: 'calc(60px + 132px*'+ val.steps.length + ' - 90px - 15px)'})
                            .roadmap__vertical-line._mobile(style={height: 'calc(60px + 104px*'+ val.steps.length + ' - 90px - 15px)'})
                            .roadmap__year #{val.year}
                            .roadmap__quartal #{val.title}
                            img(src='%=static=%img/assets/roadmap/unchecked.svg').roadmap__empty
                            each item in val.steps
                                .roadmap__item
                                    if item.checked
                                        img(src='%=static=%img/assets/roadmap/checked.svg').roadmap__item-icon
                                    else
                                        img(src='%=static=%img/assets/roadmap/void.svg').roadmap__item-icon._unchecked
                                    div(class=item.checked ? 'roadmap__item-text' : 'roadmap__item-text _unchecked') #{item.label}