include ../button/button.pug
mixin subscribe(data)
    .subscribe-proto
        .subscribe-proto__title Subscribe to get our weekly updates
        form.subscribe-proto__form#subscribe-form
            input.subscribe-proto__input(type="text" placeholder='E-mail')
            +button(subscribe.button)