mixin partners(data)
    .partners
        .partners__title PARTNERS
        .partners__items
            each val in partners.list
                .partners__item
                    img(src=val.src alt=val.alt).partners__item-icon